<h1>Edit your profile</h1>
<%= form_for(@user, url: user_path(@user), method: :put) do |f| %>

<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :email %><br>
  <%= f.text_field :email %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>