<h1>Search Result</h1>

<p><%= link_to 'Back', new_search_path %></p>

<% if @search.search_rooms.empty? %>
    <p> No records found</p>

<%else %>

    <% @search.search_rooms.each do |c| %>
        <br>
        <div class = "div">
          <h1><%= c.roomnumber %></h1>
          <p>Building: <%= c.building %> </p>
          <p>Status: <%= c.status %></p>
          <p>Size: <%= c.size %></p>
        </div>
    <% end %>

<% end %>
