<div class ="well">
  <p id="notice"><%= notice %></p>
<style>
  table, th, td {
    border: 1px solid black;
  }
</style>
<h1>Book A Room
  <% if(@superuser == true)%>
  <%= link_to 'New Room', new_room_path, class:'btn btn-success pull-right' %>
      <%end%>
</h1>

<%= form_tag rooms_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search via Building" %>
<% end %>

<%= link_to "Advanced Search", new_search_path %>
<br><br>

<table class =" table table-stripped">
  <thead>
  <tr>
    <th>Room Number</th>
    <th>Building</th>
    <th>Size</th>
    <th> Schedule</th>
    <th colspan="5">Actions available</th>
  </tr>
  </thead>

  <tbody>
  <% @rooms.each do |room| %>
      <tr>
        <td><%= room.roomnumber %></td>
        <td><%= room.building %></td>
        <td><%= room.size %></td>
        <td><%= link_to 'View Schedule', schedule_room_path(room) %></td>
        <td><%= link_to 'Show', room %></td>
        <% if(@superuser == true)%>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% else%>
            <% end%>
        <td><%= link_to 'Book', book_room_path(room) %></td>
        <td><%= link_to 'Release', releaseBooking_booking_histroy_path(room) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>


</div>

<%= link_to 'Edit your profile', edit_user_path(session[:user_id]) %>
