<p id="notice"><%= notice %></p>

<h1>Listing Booking Histroys</h1>

<table>
  <thead>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Date</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @booking_histroys.each do |booking_histroy| %>
      <tr>
        <td><%= booking_histroy.from %></td>
        <td><%= booking_histroy.to %></td>
        <td><%= booking_histroy.date %></td>
        <td><%= link_to 'Show', booking_histroy %></td>
        <td><%= link_to 'Edit', edit_booking_histroy_path(booking_histroy) %></td>
        <td><%= link_to 'Destroy', booking_histroy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking histroy', new_booking_histroy_path %>
