<div class="jumbotron">
  <h1>Admin Page</h1>
<p id="notice"><%= notice %></p>

<table class =" table table-hov">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th colspan="4">Actions Available</th>
    </tr>
  </thead>

  <tbody>
    <% @adminpages.each do |adminpage| %>
     <%if adminpage.ornot == 1 %>
      <tr>
        <td><%= adminpage.name %></td>
        <td><%= adminpage.email %></td>
        <td>Admin</td>
        <td><%= link_to 'Show', adminpage %></td>
        <%if((adminpage.email != "Admin@example.com") && (adminpage.id != session[:user_id]))%>
        <td><%= link_to 'Destroy', adminpage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <%else%>
            <td></td>
        <%end%>
        <% if((session[:user_id] == adminpage.id) && (adminpage.email != "Admin@example.com")) %>
            <td><%= link_to 'Edit', edit_user_path(adminpage) %></td>
        <% else %>
            <td></td>
        <% end %>
        <td></td>
      </tr>

      <%else %>
      <tr>
        <td><%= adminpage.name %></td>
        <td><%= adminpage.email %></td>
        <td>User</td>
        <td><%= link_to 'Show', adminpage %></td>
        <td><%= link_to 'Destroy', adminpage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td></td>
        <td><%= link_to 'Booking History', userBookingHistroy_adminpage_path(adminpage) %></td>
      </tr>
      <% end%>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Admin', new_adminpage_path, class: 'btn btn-success' %>
  <%= link_to 'Create Library Member', new_user_path, class: 'btn btn-success' %>
<%= link_to 'View Rooms', rooms_path, class: 'btn btn-success' %>

</div>